ALPACA_PAPER=true
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
NEBIUS_BASE_URL=https://api.tokenfactory.nebius.com/v1
NEBIUS_API_KEY=
NEBIUS_MODEL=zai-org/GLM-5.2
EXTRACAP_NEWS_EVENTS=
EXTRACAP_EARNINGS_CALENDAR=data/events/earnings.csv
EXTRACAP_EARNINGS_MAX_AGE_HOURS=36
EXTRACAP_GREENLIST=
GREENLIST_MIN_AVG_VOLUME=1000000
GREENLIST_MIN_MARKET_CAP=
